/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--KleurZwart:#111;
	--KleurWit:#FFF;
	--KleurGrijs: rgb(223, 223, 223);
	--KleurBlauw: #a2dedd;
	--KleurBlauwHover: #46bcc9;
	--KleurDonkerblauw: #0054b1;
	--KleurRoze: #f6bcd5;
	--KleurPaars: #4a43c4;
	--KleurGeel: #fed701;
	--KleurOranje: #ee7619;
	--FontHoofd: "Avenir Bold", sans-serif; 
	--FontLicht: "Avenir Book", sans-serif;
	--FontSizeH1: 1.8em;

	/* --Border: var(--BorderSize), var(--BorderStijl), var(--KleurGrijs);
	--BorderSize: 0.2em;
	--BorderStijl: solid; */
	
}


body {
	margin: 0
}





/****************/
/*    HEADER    */
/****************/


header {
	min-height:4em;
	padding: 1em;
	line-height:1;
	
	display: flex;
	align-items:center;
	
	position: sticky;
	top:0;
	z-index: 5;
	background-color: var(--KleurWit);
	box-shadow: 0 0.1em 0.5em #bfbfbf;
	
}

header img {
	width: 10em;
	z-index: 2;
	margin-left: 15%;
}

header button {
	padding:.5em;
  
	display:flex;
	align-items:center;
	gap:.25em;
	appearance:none;
	border:none;
	border-radius:.25em; 
	font:inherit;
	text-align:center;

	background-color: var(--KleurBlauw);
	border: 0.2em solid var(--KleurZwart);
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	font-weight: 600;
}

header > button {
	order: -1;
}

nav button {
	justify-self: start;
}

header button:hover {
	background-color: var(--KleurRoze);
	transition: 0.3s;
}

header button:focus {
	background-color: var(--KleurRoze);
	transition: 0.3s;
}

header button:active {
	background-color: var(--KleurPaars);
	color: var(--KleurWit);
	transform: scale(0.95);
	transition: 0.3s;
}

nav {
	padding:1em;
	display: grid;
	align-content: start;
	gap: 1em;
	
	background-color: var(--KleurWit);
	
	position: fixed;
	left: 0;
	right: 20%;
	top: 0;
	bottom: 0;
	
	transform: translatex(-100%);
	transition: transform .3s;
}

nav.toonMenu {
	transform:translatex(0);
  }

nav ul {
	padding-left: 0;
	margin-top: 0;
}

nav li {
	list-style: none;
}

header a {
	padding: .5em 0;
	color:var(--KleurZwart);
	text-decoration: none;
	display:flex;
	align-items:center;
	column-gap:.25em;
	padding-top: 1em;
	padding-bottom: 1em;

	border-bottom:solid 1px var(--KleurGrijs);
	font-family: var(--FontLicht);
	text-transform: uppercase;
	font-size: 1.2em;
}

header a:hover {
	text-decoration: underline;
	color: var(--KleurOranje);
	font-size: 1.5em;
	transition: 0.3s;
}

header a:focus {
	text-decoration: underline;
	color: var(--KleurOranje);
	font-size: 1.5em;
	transition: 0.3s;
}

header a:active {
	text-decoration: underline;
	color: var(--KleurPaars);
	transition: 0.3s;
}

header form {
	display: flex;
	flex-wrap: wrap;
}



header label {
	font-family: var(--FontLicht);
	font-size: 0.9em;
	padding-bottom: 0.3em;
	margin-right: 40%;
}

header input {
	padding: 1em;
	border: 0.05em solid var(--KleurGrijs);
	width: 100%;
}

header input:hover {
	background-color: var(--KleurRoze);
	transition: 0.3s;
}

header input:focus {
	background-color: var(--KleurRoze);
	transition: 0.3s;
}

header input:active {
	background-color: var(--KleurRoze);
	transition: 0.3s;
}








/*********************/
/*     SECTION 1     */
/*********************/
section:nth-of-type(1) p:first-child {
	font-family: var(--FontLicht);
	color: var(--KleurPaars);
	background-color: var(--KleurBlauw);
	font-size: 0.9em;
	line-height: 1.5em;
	text-align: center;
	margin: 0;
	margin-top: 0.15em;
}

section:nth-of-type(1) section {
	position: relative;
}

section:nth-of-type(1) section:nth-of-type(1) > p {
	position: absolute;
	font-family: var(--FontHoofd);
	font-size: 1.3em;
	font-weight: 800;
	color: var(--KleurWit);
	background: none;
	text-transform: uppercase;
	left: 1em;
	right: 12.5em;
	top: 0.5em;
	line-height: 1em;
}

section:nth-of-type(1) h1 {
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-align: center;
	font-size: var(--FontSizeH1);
	margin-top: 0.5em;
}

section:nth-of-type(1) img {
	width: 100%;
}

section:nth-of-type(1) ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
}

section:nth-of-type(1) ul li {
	list-style: none;
	font-family: var(--FontLicht);
	font-size: 1.2em;
	text-transform: uppercase;
	margin-right: 0.5em;
	margin-left: 0.5em;
	line-height: 1.1em;
}

section:nth-of-type(1) ul li a {
	text-decoration: none;
	color: var(--KleurPaars);
}

section:nth-of-type(1) ul li a:hover {
	text-decoration: underline;
	color: var(--KleurOranje);
	transition: 0.3s;
}

section:nth-of-type(1) ul li a:focus {
	text-decoration: underline;
	transition: 0.3s;
	background-color: var(--KleurRoze);		
	font-weight: 800;	
}

section:nth-of-type(1) ul li a:active {
	color: var(--KleurPaars);
	transition: 0.3s;
}



/*********************/
/*     SECTION 2     */
/*********************/

section:nth-of-type(2) ul {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-left: 0;
	flex-wrap: wrap;
	margin-top: 3em;
}

section:nth-of-type(2) ul li {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 0.2em solid var(--KleurGrijs);
	border-radius: 0.3em;
	width: 95%;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 1em;
	min-width: 5em;
	max-width: 25em;
}

section:nth-of-type(2) ul li:hover {
	border: 0.5em solid var(--KleurBlauw);
	transition: 0.2s;
}

section:nth-of-type(2) ul li a:focus {
	border: 0.5em solid var(--KleurBlauw);
	transition: 0.2s;
}

section:nth-of-type(2) ul li a:active {
	border: 0.5em solid var(--KleurPaars);
	transition: 0.2s;
}

section:nth-of-type(2) ul li a {
	text-decoration: none;
}

section:nth-of-type(2) ul li a h2 {
	text-transform: uppercase;
	font-family: var(--FontHoofd);
	color: var(--KleurRoze);
	background-color: var(--KleurDonkerblauw);
	font-size: 1em;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0;
}

section:nth-of-type(2) ul li h2:hover {
	text-decoration: underline;
	text-decoration-style: wavy;
}

section:nth-of-type(2) ul li a img {
	width: 100%;
	margin: 0;
}

section:nth-of-type(2) ul li a p {
	font-family: var(--FontLicht);
	color: var(--KleurZwart);
	text-align: center;
	font-size: 1em;
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	margin: 0;
}

section:nth-of-type(2) ul li:nth-of-type(2) h2 {
	color: var(--KleurPaars);
	background-color: var(--KleurGeel);
}

section:nth-of-type(2) ul li:nth-of-type(3) h2 {
	color: var(--KleurGeel);
	background-color: var(--KleurOranje);
}




/*********************/
/*     SECTION 3     */
/*********************/

section:nth-of-type(3) {
	display: flex;
	flex-direction: column;
}

section:nth-of-type(3) video {
	width: 95%;
	align-self: center;
	border-radius: 0.15em;
	margin-bottom: 2em;
}

section:nth-of-type(3) h2 {
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 1em;
}

section:nth-of-type(3) p {
	font-family: var(--FontLicht);
	font-size: 0.9em;
	text-align: center;
	padding-left: 2.5em;
	padding-right: 2.5em;
	line-height: 1.6em;
	margin-top: 0;
}

section:nth-of-type(3) a {
	background-color: var(--KleurBlauw);
	color: black;
	font-family: var(--FontHoofd);
	font-weight: 800;
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 1.6em;
	padding-bottom: 1.6em;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 0.3em;
	align-self: center;
	margin-top: 1.5em;
}

section:nth-of-type(3) a:hover {
	background-color: var(--KleurBlauwHover);
	color: var(--KleurWit);
	transition: 0.3s;
}

section:nth-of-type(3) a:focus {
	background-color: var(--KleurOranje);
	color: var(--KleurWit);
	transition: 0.3s;
}

section:nth-of-type(3) a:active {
	background-color: var(--KleurPaars);
	color: var(--KleurWit);
	transition: 0.3s;
}








/*********************/
/*     SECTION 4     */
/*********************/
section:nth-of-type(4) ul {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-left: 0;
	flex-wrap: wrap;
	margin-top: 3em;
}

section:nth-of-type(4) ul li {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 0.2em solid var(--KleurGrijs);
	border-radius: 0.3em;
	width: 95%;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 1em;
	min-width: 5em;
	max-width: 25em;
}

section:nth-of-type(4) ul li:hover{
	border: 0.5em solid var(--KleurBlauw);
	transition: 0.2s;
}

section:nth-of-type(4) ul li a {
	text-decoration: none;
}

section:nth-of-type(4) ul li a:focus {
	border: 0.5em solid var(--KleurBlauw);
	transition: 0.2s;	
}

section:nth-of-type(4) ul li a:active {
	border: 0.5em solid var(--KleurPaars);
	transition: 0.2s;
}

section:nth-of-type(4) ul li a h2 {
	text-transform: uppercase;
	font-family: var(--FontHoofd);
	color: var(--KleurZwart);
	font-size: 0.95em;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0;
}

section:nth-of-type(4) ul li a h2:hover {
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: var(--KleurOranje);
}

section:nth-of-type(4) ul li a img {
	width: 100%;
	margin: 0;
}

section:nth-of-type(4) ul li a p {
	font-family: var(--FontLicht);
	color: var(--KleurZwart);
	text-align: center;
	font-size: 1em;
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	margin: 0;
}

section:nth-of-type(4) ul li a p:last-of-type {
	color: var(--KleurOranje);
	font-family: var(--FontHoofd);
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0.4em;
	font-size: 0.9em;
}

section:nth-of-type(4) ul li a p:last-of-type:hover {
	text-decoration: underline;
}




/*********************/
/*     SECTION 5     */
/*********************/
section:nth-of-type(5) h2 {
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 1em;
}

section:nth-of-type(5) ul {
	display: flex;
	overflow-x: scroll;
	padding-left: 0;
}

section:nth-of-type(5) ul li {
	border: 0.2em solid var(--KleurGrijs);
	border-radius: 0.3em;
	list-style: none;

	margin-left: 0.5em;
	margin-right: 0.5em;
}

section:nth-of-type(5) ul li:hover {
	border: 0.4em solid var(--KleurOranje);
	transition: 0.3s;
}

section:nth-of-type(5) ul li a:focus {
	border: 0.4em solid var(--KleurOranje);
	transition: 0.3s;
}

section:nth-of-type(5) ul li a {
	text-decoration: none;
	display: flex;
	flex-direction: column;
}

section:nth-of-type(5) ul li img:nth-of-type(1) {
	margin: 1em;
}

section:nth-of-type(5) ul li img:nth-of-type(2) {
	width: 40%;
	margin-left: 7.5em;
	margin-right: 7.5em;
	margin-top: 0;
}

section:nth-of-type(5) h3 /*TITEL*/{
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-align: center;
	font-size: 1.4em;
	color: var(--KleurZwart);
	margin-top: 0;
	margin-bottom: 0.5em;
}

section:nth-of-type(5) p {
	font-family: var(--FontLicht);
	color: var(--KleurZwart);
	text-align: center;
	font-size: 1em;
	margin: 1em;
	line-height: 1em;
}

section:nth-of-type(5) ul li a p:last-of-type {
	border: none;
	border-radius: 0.3em;
	font-family: var(--FontHoofd);
	font-weight: 800;
	background-color: var(--KleurBlauw);
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 1.6em;
	padding-bottom: 1.6em;
	padding-left: 1.25em;
	padding-right: 1.25em;
	margin-bottom: 2em;
	width: 90%;
	align-self: center;
}

section:nth-of-type(5) ul li a p:last-of-type:hover {
	background-color: var(--KleurBlauwHover);
	color: var(--KleurWit);
	transition: 0.3s;
}

section:nth-of-type(5) ul li a p:last-of-type:active {
	background-color: var(--KleurPaars);
	color: var(--KleurWit);
	transition: 0.3s;
}







/*********************/
/*     SECTION 6     */
/*********************/
section:nth-of-type(6) a {
	display: flex;
	justify-content: center;
	background-color: var(--KleurZwart);
}

section:nth-of-type(6) img {
	width: 100%;
	position: relative;
	color: var(--KleurZwart);
	opacity: 0.6;
	margin-bottom: 0;
}

section:nth-of-type(6) h2 {
	position: absolute;
	z-index: 1;
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	color: var(--KleurWit);
	text-align: center;
	margin: 2em;
	margin-top: 1em;
	font-size: 1.5em;
}

section:nth-of-type(6) p {
	position: absolute;
	z-index: 2;
	font-family: var(--FontLicht);
	color: var(--KleurWit);
	text-align: center;
	margin: 5em;
	margin-top: 5.5em;
}

section:nth-of-type(6) p:nth-of-type(2) {
	position: absolute;
	z-index: 3;
	margin-top: 11em;
	background-color: #e8468d;
	padding: 1.5em;
	border-radius: 0.3em;
	color: var(--KleurZwart);
	font-family: var(--FontHoofd);
	font-weight: 800;
	text-transform: uppercase;
}

section:nth-of-type(6) p:nth-of-type(2):hover {
	background: var(--KleurRoze);
	transition: 0.3s;
}

section:nth-of-type(6) p:nth-of-type(2):active {
	background: var(--KleurPaars);
	color: var(--KleurWit);
	transition: 0.3s;
}



/*********************/
/*       FOOTER      */
/*********************/

footer {
	box-shadow: 0 0.1em 0.5em #dcdcdc;
	margin-top: 1em;
	margin-bottom: 0;
}


footer h3 {
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	padding-top: 2em;
	margin-left: 1em;
}

footer a {
	display: block;
	margin-left: 1.3em;
	font-family: var(--FontLicht);
	text-decoration: none;
	color: var(--KleurZwart);
	font-size: 0.9em;
}

footer a:hover {
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: var(--KleurBlauw);
	color: var(--KleurOranje);
	transition: 0.1s;
}

footer a:focus {
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: var(--KleurBlauw);
	color: var(--KleurOranje);
	transition: 0.1s;
}

footer a:active {
	text-decoration: underline;
	text-decoration-style: wavy;
	text-decoration-color: var(--KleurBlauw);
	color: var(--KleurPaars);
	transition: 0.1s;
}


footer p {
	display: block;
	margin-left: 1em;
	font-family: var(--FontLicht);
	text-decoration: none;
	color: var(--KleurZwart);
	font-size: 0.9em;
}

footer form {
	display: flex;
	flex-wrap: wrap;
	margin-left: 1em;
	margin-top: 2em;
}

footer label {
	font-family: var(--FontLicht);
	font-size: 0.9em;
	padding-right: 70%;
	padding-bottom: 0.3em;
}

footer input {
	padding: 1em;
	border: 0.05em solid var(--KleurGrijs);
}

footer input:hover {
	background-color: var(--KleurBlauw);
	transition: 0.3s;
}

footer input:focus {
	background-color: var(--KleurBlauw);
	transition: 0.3s;
}

footer input:active {
	background-color: var(--KleurBlauw);
	transition: 0.3s;
}

footer button {
	border: none;
	padding: 1em;
	padding-left: 1.25em;
	padding-right: 1.25em;
	font-weight: 800;
	background-color: #c897d3;
}

footer button:hover {
	background-color: var(--KleurOranje);
	transition: 0.3s;
	color: var(--KleurWit);
	transform: scale(1.1);
	border-radius: 0.4em;
}

footer button:focus {
	background-color: var(--KleurOranje);
	transition: 0.3s;
	color: var(--KleurWit);
	transform: scale(1.1);
	border-radius: 0.4em;
}

footer button:active {
	background-color: var(--KleurPaars);
	transition: 0.3s;
	color: var(--KleurWit);
	transform: scale(1.1);
	border-radius: 0.4em;
}

footer section:first-of-type {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1.5em;
	width: 90%;
}

footer section:first-of-type a {
	width: 10%;
}

footer section:first-of-type a:hover {
	transform: scale(1.5);
	transition: 0.3s;
}

footer section:first-of-type a:focus {
	transform: scale(1.5);
	transition: 0.3s;
}

footer section:nth-of-type(2) {
	display: flex;
	padding-bottom: 2em;
}

footer section:nth-of-type(2) a {
	font-size: 0.7em;
}
















/*************************//************************************************************************************************/
/*       SUPPORT         */
/*************************/


/************************/
/*       SECTION 1      */
/************************/

.Support section:first-of-type a {
	font-family: var(--FontLicht);
	color: var(--KleurZwart);
	font-size: 0.7em;
	margin-left: 1em;
}





/************************/
/*       SECTION 2      */
/************************/
.Support section:nth-of-type(2) H1 {
	font-family: var(--FontHoofd);
	font-size: 2.5em;
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;
	margin-top: 1.5em;
}

.Support section:nth-of-type(2) p {
	font-family: var(--FontLicht);
	text-align: center;
	margin: 1em;
	line-height: 1.4em;
	font-size: 1.05em;
}






/************************/
/*       SECTION 3      */
/************************/

.Support section:nth-of-type(3) {
	display: flex;
}

.Support section:nth-of-type(3) a {
	display: flex;
	background-color: rgba(0, 0, 0, 0);
	flex-direction: column;
	border: 0.2em solid var(--KleurGrijs);
	margin: 1em;
	padding: 0;
	flex-wrap: wrap;
}

.Support section:nth-of-type(3) a img {
	width: 1em;
}

.Support section:nth-of-type(3) h2 {
	margin: 1em;
	margin-bottom: 0.5em;
	text-align: left;
}

.Support section:nth-of-type(3) a ul {
	padding-left: 3em;
}

.Support section:nth-of-type(3) a li {
	text-transform: none;
	font-family: var(--FontLicht);
	line-height: 1.5em;
	margin-right: 2em;
}

.Support section:nth-of-type(3) a:hover {
	color: var(--KleurZwart);
	border: 0.5em solid var(--KleurGrijs);
}

.Support section:nth-of-type(3) p {
	color: var(--KleurOranje);
	font-family: var(--FontHoofd);
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 1em;
	font-weight: 800;
}






/************************/
/*       SECTION 4      */
/************************/

.Support section:nth-of-type(4) {
	margin-top: 4em;
}

.Support section:nth-of-type(4) h2 {
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	font-size: 1.5em;
	margin-left: 0.6em;
}

.Support section:nth-of-type(4) details {
	background-color: rgb(248, 248, 248);
	margin: 1em;
	padding: 1em;
	font-family: var(--FontLicht);
	border: 0.05em solid rgb(124, 124, 124);
	font-size: 0.9em;
	line-height: 1.2em;
}

.Support section:nth-of-type(4) details p:nth-of-type(3) {
	font-size: 1em;
	font-family: var(--FontHoofd);
	font-weight: 800;
}





/************************/
/*       SECTION 5      */
/************************/

.Support section:nth-of-type(5) {
	margin-top: 3em;
	background-color: rgb(243, 243, 243);
}

.Support section:nth-of-type(5) img {
	width: 90%;
	margin-top: 2em;
	margin-left: 1.25em;
	margin-right: 1.25em;
}

.Support section:nth-of-type(5) h2 {
	font-family: var(--FontHoofd);
	font-size: 1.7em;
	margin-top: 0.7em;
	margin-left: 0.6em;
	text-align: left;
	text-transform: none;
}

.Support section:nth-of-type(5) p {
	text-align: left;
}

.Support section:nth-of-type(5) button {
	border: none;
	border-radius: 0.3em;
	font-weight: 800;
	background-color: var(--KleurBlauw);
	text-transform: uppercase;
	padding: 1.5em;
	width: 80%;
	margin-bottom: 5em;
	margin-left: 1.25em;
}






/************************/
/*       SECTION 6      */
/************************/

.Support section:nth-of-type(6) {
	margin-bottom: 5em;
}

.Support section:nth-of-type(6) section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
	border: 0.2em solid var(--KleurGrijs);
	height: fit-content;
}


.Support section:nth-of-type(6) h2 {
	color: var(--KleurZwart);
	position: static;
	margin-top: 3em;
}

.Support section:nth-of-type(6) h3 {
	font-family: var(--FontHoofd);
	color: var(--KleurDonkerblauw);
	text-transform: uppercase;
	font-size: 1.3em;
	margin-bottom: 0.6em;
}

.Support section:nth-of-type(6) p {
	color: var(--KleurZwart);
	text-align: left;
	position: static;
	margin: 0.5em;
}

.Support section:nth-of-type(6) p:nth-of-type(2) {
	background-color: rgba(255, 255, 255, 0);
	padding: 0;
}

.Support section:nth-of-type(6) img {
	width: 20%;
	margin: 1em;
}

.Support section:nth-of-type(6) button {
	border: none;
	border-radius: 0.3em;
	font-weight: 800;
	background-color: var(--KleurBlauw);
	text-transform: uppercase;
	padding: 1.5em;
	width: 80%;
	margin: 1em;
} 