/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--KleurZwart:#111;
	--KleurWit:#FFF;
	--KleurBlauw: #a2dedd;
	--KleurBlauwHover: #46bcc9;
	--KleurDonkerblauw: #0054b1;
	--KleurRoze: #f6bcd5;
	--KleurPaars: #4a43c4;
	--KleurGeel: #fed701;
	--KleurOranje: #ee7619;
	--FontHoofd: "Avenir Bold", sans-serif; 
	--FontLicht: "Avenir Book", sans-serif;
	--FontSizeH1: 1.8em;

	
}


body {
	margin: 0
}





/****************/
/*    HEADER    */
/****************/
header nav {
	display: flex;
	height: 3.7em;
	box-shadow: 0 0.1em 0.5em #dcdcdc;
	background-color: var(--KleurWit);
}

header nav img:nth-of-type(1) {
	height: 2.8em;
	justify-self: start;
	position: absolute;
	margin: 0.5em;
}

header nav img:nth-of-type(2) {
	height: 1.5em;
	align-self: center;
	margin: auto;
}






/*********************/
/*     SECTION 1     */
/*********************/
section:nth-of-type(1) p:first-child {
	font-family: var(--FontLicht);
	color: var(--KleurPaars);
	background-color: var(--KleurBlauw);
	font-size: 0.9em;
	line-height: 1.5em;
	text-align: center;
	margin: 0;
	margin-top: 0.15em;
}

section:nth-of-type(1) section {
	position: relative;
}

section:nth-of-type(1) section:nth-of-type(1) h2 {
	position: absolute;
	font-family: var(--FontHoofd);
	font-size: 1.3em;
	color: var(--KleurWit);
	background: none;
	text-transform: uppercase;
	left: 1em;
	right: 12.5em;
	top: 0.5em;
	line-height: 1em;
}

section:nth-of-type(1) h1 {
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-align: center;
	font-size: var(--FontSizeH1);
	margin-top: 0.5em;
}

section:nth-of-type(1) img {
	width: 100%;
}

section:nth-of-type(1) ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
}

section:nth-of-type(1) ul li {
	list-style: none;
	font-family: var(--FontLicht);
	font-size: 1.2em;
	text-transform: uppercase;
	margin-right: 0.5em;
	margin-left: 0.5em;
	line-height: 1.1em;
}

section:nth-of-type(1) ul li a {
	text-decoration: none;
	color: var(--KleurPaars);
}





/*********************/
/*     SECTION 2     */
/*********************/

section:nth-of-type(2) ul {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-left: 0;
	flex-wrap: wrap;
	margin-top: 3em;
}

section:nth-of-type(2) ul li {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 0.2em solid rgb(235, 235, 235);
	border-radius: 0.3em;
	width: 95%;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 1em;
	min-width: 5em;
	max-width: 25em;
}

section:nth-of-type(2) ul li:hover {
	border: 0.5em solid rgb(235, 235, 235);
	transition: 0.2s;
}

section:nth-of-type(2) ul li a {
	text-decoration: none;
}

section:nth-of-type(2) ul li a h2 {
	text-transform: uppercase;
	font-family: var(--FontHoofd);
	color: var(--KleurRoze);
	background-color: var(--KleurDonkerblauw);
	font-size: 1em;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0;
}

section:nth-of-type(2) ul li a img {
	width: 100%;
	margin: 0;
}

section:nth-of-type(2) ul li a p {
	font-family: var(--FontLicht);
	color: var(--KleurZwart);
	text-align: center;
	font-size: 1em;
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	margin: 0;
}

section:nth-of-type(2) ul li:nth-of-type(2) h2 {
	color: var(--KleurPaars);
	background-color: var(--KleurGeel);
}

section:nth-of-type(2) ul li:nth-of-type(3) h2 {
	color: var(--KleurGeel);
	background-color: var(--KleurOranje);
}




/*********************/
/*     SECTION 3     */
/*********************/

section:nth-of-type(3) {
	display: flex;
	flex-direction: column;
}

section:nth-of-type(3) video {
	width: 95%;
	align-self: center;
	border-radius: 0.15em;
	margin-bottom: 2em;
}

section:nth-of-type(3) h3 {
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 1em;
}

section:nth-of-type(3) p {
	font-family: var(--FontLicht);
	font-size: 0.9em;
	text-align: center;
	padding-left: 2.5em;
	padding-right: 2.5em;
	line-height: 1.6em;
	margin-top: 0;
}

section:nth-of-type(3) a {
	background-color: var(--KleurBlauw);
	color: black;
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 1.6em;
	padding-bottom: 1.6em;
	padding-left: 1em;
	border-radius: 0.3em;
	align-self: center;
	margin-top: 1.5em;
}

section:nth-of-type(3) a:hover {
	background-color: var(--KleurBlauwHover);
	color: var(--KleurWit);
	transition: 0.3s;
}

section:nth-of-type(3) a span {
	padding-left: 3em;
	padding-right: 1em;
}





/*********************/
/*     SECTION 4     */
/*********************/
section:nth-of-type(4) ul {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-left: 0;
	flex-wrap: wrap;
	margin-top: 3em;
}

section:nth-of-type(4) ul li {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 0.2em solid rgb(235, 235, 235);
	border-radius: 0.3em;
	width: 95%;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 1em;
	min-width: 5em;
	max-width: 25em;
}

section:nth-of-type(4) ul li a {
	text-decoration: none;
}

section:nth-of-type(4) ul li a h2 {
	text-transform: uppercase;
	font-family: var(--FontHoofd);
	color: var(--KleurZwart);
	font-size: 0.95em;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0;
}

section:nth-of-type(4) ul li a img {
	width: 100%;
	margin: 0;
}

section:nth-of-type(4) ul li a p {
	font-family: var(--FontLicht);
	color: var(--KleurZwart);
	text-align: center;
	font-size: 1em;
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	margin: 0;
}

section:nth-of-type(4) ul li a h5 {
	color: var(--KleurOranje);
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0.4em;
	font-size: 0.9em;
}




/*********************/
/*     SECTION 5     */
/*********************/
section:nth-of-type(5) h2 {
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 1em;
}

section:nth-of-type(5) ul {
	display: flex;
	overflow-x: scroll;
	padding-left: 0;
}

section:nth-of-type(5) ul li {
	display: flex;
	align-items: flex-start;

	height: 45em;
	border: 0.2em solid rgb(235, 235, 235);
	border-radius: 0.3em;

	margin-left: 0.5em;
	margin-right: 0.5em;
}

section:nth-of-type(5) ul li a {
	text-decoration: none;
}

section:nth-of-type(5) ul li img:nth-of-type(1) {
	margin: 1em;
}

section:nth-of-type(5) ul li img:nth-of-type(2) {
	width: 40%;
	margin-left: 7.5em;
	margin-right: 7.5em;
	margin-top: 0;
}

section:nth-of-type(5) h4 /*TITEL*/{
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-align: center;
	font-size: 1.4em;
	color: var(--KleurZwart);
	margin-top: 0;
	margin-bottom: 0.5em;
}

section:nth-of-type(5) p {
	font-family: var(--FontLicht);
	color: var(--KleurZwart);
	text-align: center;
	font-size: 1em;
	margin: 1em;
}

section:nth-of-type(5) ul li a h5 {
	background-color: var(--KleurBlauw);
	color: black;
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding-top: 1.6em;
	padding-bottom: 1.6em;
	padding-left: 1em;
	border-radius: 0.3em;
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 2em;
	align-self: flex-end;
}






/*********************/
/*     SECTION 6     */
/*********************/
section:nth-of-type(6) a {
	display: flex;
	justify-content: center;
}

section:nth-of-type(6) img {
	width: 100%;
	position: relative;
	color: var(--KleurZwart);
	opacity: 0.6;
}

section:nth-of-type(6) h3 {
	position: absolute;
	z-index: 1;
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	color: var(--KleurZwart);
	text-align: center;
	margin: 2em;
	margin-top: 1em;
	font-size: 1.5em;
}

section:nth-of-type(6) p {
	position: absolute;
	z-index: 2;
	font-family: var(--FontLicht);
	color: var(--KleurZwart);
	text-align: center;
	margin: 5em;
	margin-top: 5.5em;
}

section:nth-of-type(6) h5 {
	position: absolute;
	z-index: 3;
	align-self: flex-end;
	background-color: #e8468d;
	padding: 1.5em;
	padding-right: 5em;
	border-radius: 0.3em;
	color: var(--KleurZwart);
	font-family: var(--FontHoofd);
	text-transform: uppercase;
}

/*********************/
/*       FOOTER      */
/*********************/
footer h3 {
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	margin-top: 3em;
	margin-left: 1em;
}

footer a {
	display: block;
	margin-left: 1em;
	font-family: var(--FontLicht);
	text-decoration: none;
	color: var(--KleurZwart);
	font-size: 0.9em;
}

footer p {
	display: block;
	margin-left: 1em;
	font-family: var(--FontLicht);
	text-decoration: none;
	color: var(--KleurZwart);
	font-size: 0.9em;
}