/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--KleurZwart:#111;
	--KleurWit:#FFF;
	--KleurBlauw: #a2dedd;
	--KleurDonkerblauw: #0054b1;
	--KleurRoze: #f6bcd5;
	--KleurPaars: #4a43c4;
	--KleurGeel: #fed701;
	--KleurOranje: #ee7619;
	--FontHoofd: "Avenir Bold", sans-serif; 
	--FontLicht: "Avenir Book", sans-serif;
	--FontSizeH1: 1.8em;
}


body {
	margin: 0
}





/****************/
/*    HEADER    */
/****************/
header nav {
	display: flex;
	height: 3.7em;
	box-shadow: 0 0.1em 0.5em #dcdcdc;
	background-color: var(--KleurWit);
}

header nav img:nth-of-type(1) {
	height: 2.8em;
	justify-self: start;
	position: absolute;
	margin: 0.5em;
}

header nav img:nth-of-type(2) {
	height: 1.5em;
	align-self: center;
	margin: auto;
}






/*********************/
/*     SECTION 1     */
/*********************/
section:nth-of-type(1) p:first-child {
	font-family: var(--FontLicht);
	color: var(--KleurPaars);
	background-color: var(--KleurBlauw);
	font-size: 0.9em;
	line-height: 1.5em;
	text-align: center;
	margin: 0;
	margin-top: 0.15em;
}

section:nth-of-type(1) article {
	position: relative;
}

section:nth-of-type(1) article:nth-of-type(1) p {
	position: absolute;
	font-family: var(--FontHoofd);
	font-size: 1.3em;
	color: var(--KleurWit);
	background: none;
	text-transform: uppercase;
	left: 1em;
	right: 12.5em;
	top: 0.5em;
	line-height: 1em;
}

section:nth-of-type(1) h1 {
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-align: center;
	font-size: var(--FontSizeH1);
	margin-top: 0.5em;
}

section:nth-of-type(1) img {
	width: 100%;
}

section:nth-of-type(1) ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
}

section:nth-of-type(1) ul li {
	list-style: none;
	font-family: var(--FontLicht);
	font-size: 1.2em;
	text-transform: uppercase;
	margin-right: 0.5em;
	margin-left: 0.5em;
	line-height: 1.1em;
}

section:nth-of-type(1) ul li a {
	text-decoration: none;
	color: var(--KleurPaars);
}





/*********************/
/*     SECTION 2     */
/*********************/

section:nth-of-type(2) ul {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-left: 0;
	flex-wrap: wrap;
	margin-top: 3em;
}

section:nth-of-type(2) ul li {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 2px solid rgb(235, 235, 235);
	width: 95%;
	margin-bottom: 1em;
	min-width: 5em;
	max-width: 30em;
}

section:nth-of-type(2) ul li a {
	text-decoration: none;
}

section:nth-of-type(2) ul li a h2 {
	text-transform: uppercase;
	font-family: var(--FontHoofd);
	color: var(--KleurRoze);
	background-color: var(--KleurDonkerblauw);
	font-size: 1em;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 95%;
	margin: 0;
}

section:nth-of-type(2) ul li a img {
	width: 95%;
	margin: 0;
}

section:nth-of-type(2) ul li a p {
	font-family: var(--FontLicht);
	color: var(--KleurZwart);
	text-align: center;
	font-size: 1em;
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	margin: 0;
}

section:nth-of-type(2) ul li:nth-of-type(2) h2 {
	color: var(--KleurPaars);
	background-color: var(--KleurGeel);
}

section:nth-of-type(2) ul li:nth-of-type(3) h2 {
	color: var(--KleurGeel);
	background-color: var(--KleurOranje);
}