/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--KleurZwart:#111;
	--KleurWit:#FFF;
	--KleurGrijs: rgb(223, 223, 223);
	--KleurBlauw: #a2dedd;
	--KleurBlauwHover: #46bcc9;
	--KleurDonkerblauw: #0054b1;
	--KleurRoze: #f6bcd5;
	--KleurPaars: #4a43c4;
	--KleurGeel: #fed701;
	--KleurOranje: #ee7619;
	--FontHoofd: "Avenir Bold", sans-serif; 
	--FontLicht: "Avenir Book", sans-serif;
	--FontSizeH1: 1.8em;

	
}


body {
	margin: 0
}





/****************/
/*    HEADER    */
/****************/


header {
	min-height:4em;
	padding: 1em;
	line-height:1;
	
	display: flex;
	align-items:center;
	
	position: sticky;
	top:0;
	z-index: 5;
	background-color: var(--KleurWit);
	box-shadow: 0 0.1em 0.5em #bfbfbf;
	
}

header img {
	width: 10em;
	z-index: 2;
	margin-left: 15%;
}

header button {
	padding:.5em;
  
	display:flex;
	align-items:center;
	gap:.25em;
	appearance:none;
	border:none;
	border-radius:.25em; 
	font:inherit;
	text-align:center;

	background-color: var(--KleurBlauw);
	border: 0.2em solid var(--KleurZwart);
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	font-weight: 600;
}

header > button {
	order: -1;
}

nav button {
	justify-self: start;
}

nav {
	padding:1em;
	display: grid;
	align-content: start;
	gap: 1em;
	
	background-color: var(--KleurWit);
	
	position: fixed;
	left: 0;
	right: 20%;
	top: 0;
	bottom: 0;
	
	transform: translatex(-100%);
	transition: transform .3s;
}

nav.toonMenu {
	transform:translatex(0);
  }

nav ul {
	padding-left: 0;
}

nav li {
	list-style: none;
}

header a {
	padding: .5em 0;
	color:var(--KleurZwart);
	text-decoration: none;
	display:flex;
	align-items:center;
	column-gap:.25em;
	padding-top: 1em;
	padding-bottom: 1em;

	border-bottom:solid 1px var(--KleurGrijs);
	font-family: var(--FontLicht);
	text-transform: uppercase;
	font-size: 1.2em;
}

header form {
	display: flex;
	flex-wrap: wrap;
}

header label {
	font-family: var(--FontLicht);
	font-size: 0.9em;
	padding-bottom: 0.3em;
	margin-right: 40%;
}

header input {
	padding: 1em;
	border: 0.05em solid var(--KleurGrijs);
	width: 100%;
}










/*********************/
/*     SECTION 1     */
/*********************/
section:nth-of-type(1) p:first-child {
	font-family: var(--FontLicht);
	color: var(--KleurPaars);
	background-color: var(--KleurBlauw);
	font-size: 0.9em;
	line-height: 1.5em;
	text-align: center;
	margin: 0;
	margin-top: 0.15em;
}

section:nth-of-type(1) section {
	position: relative;
}

section:nth-of-type(1) section:nth-of-type(1) h2 {
	position: absolute;
	font-family: var(--FontHoofd);
	font-size: 1.3em;
	color: var(--KleurWit);
	background: none;
	text-transform: uppercase;
	left: 1em;
	right: 12.5em;
	top: 0.5em;
	line-height: 1em;
}

section:nth-of-type(1) h1 {
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-align: center;
	font-size: var(--FontSizeH1);
	margin-top: 0.5em;
}

section:nth-of-type(1) img {
	width: 100%;
}

section:nth-of-type(1) ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
}

section:nth-of-type(1) ul li {
	list-style: none;
	font-family: var(--FontLicht);
	font-size: 1.2em;
	text-transform: uppercase;
	margin-right: 0.5em;
	margin-left: 0.5em;
	line-height: 1.1em;
}

section:nth-of-type(1) ul li a {
	text-decoration: none;
	color: var(--KleurPaars);
}





/*********************/
/*     SECTION 2     */
/*********************/

section:nth-of-type(2) ul {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-left: 0;
	flex-wrap: wrap;
	margin-top: 3em;
}

section:nth-of-type(2) ul li {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 0.2em solid var(--KleurGrijs);
	border-radius: 0.3em;
	width: 95%;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 1em;
	min-width: 5em;
	max-width: 25em;
}

section:nth-of-type(2) ul li:hover {
	border: 0.5em solid var(--KleurGrijs);
	transition: 0.2s;
}

section:nth-of-type(2) ul li a {
	text-decoration: none;
}

section:nth-of-type(2) ul li a h2 {
	text-transform: uppercase;
	font-family: var(--FontHoofd);
	color: var(--KleurRoze);
	background-color: var(--KleurDonkerblauw);
	font-size: 1em;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0;
}

section:nth-of-type(2) ul li a img {
	width: 100%;
	margin: 0;
}

section:nth-of-type(2) ul li a p {
	font-family: var(--FontLicht);
	color: var(--KleurZwart);
	text-align: center;
	font-size: 1em;
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	margin: 0;
}

section:nth-of-type(2) ul li:nth-of-type(2) h2 {
	color: var(--KleurPaars);
	background-color: var(--KleurGeel);
}

section:nth-of-type(2) ul li:nth-of-type(3) h2 {
	color: var(--KleurGeel);
	background-color: var(--KleurOranje);
}




/*********************/
/*     SECTION 3     */
/*********************/

section:nth-of-type(3) {
	display: flex;
	flex-direction: column;
}

section:nth-of-type(3) video {
	width: 95%;
	align-self: center;
	border-radius: 0.15em;
	margin-bottom: 2em;
}

section:nth-of-type(3) h3 {
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 1em;
}

section:nth-of-type(3) p {
	font-family: var(--FontLicht);
	font-size: 0.9em;
	text-align: center;
	padding-left: 2.5em;
	padding-right: 2.5em;
	line-height: 1.6em;
	margin-top: 0;
}

section:nth-of-type(3) a {
	background-color: var(--KleurBlauw);
	color: black;
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 1.6em;
	padding-bottom: 1.6em;
	padding-left: 1em;
	border-radius: 0.3em;
	align-self: center;
	margin-top: 1.5em;
}

section:nth-of-type(3) a:hover {
	background-color: var(--KleurBlauwHover);
	color: var(--KleurWit);
	transition: 0.3s;
}

section:nth-of-type(3) a span {
	padding-left: 3em;
	padding-right: 1em;
}





/*********************/
/*     SECTION 4     */
/*********************/
section:nth-of-type(4) ul {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-left: 0;
	flex-wrap: wrap;
	margin-top: 3em;
}

section:nth-of-type(4) ul li {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 0.2em solid var(--KleurGrijs);
	border-radius: 0.3em;
	width: 95%;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 1em;
	min-width: 5em;
	max-width: 25em;
}

section:nth-of-type(4) ul li a {
	text-decoration: none;
}

section:nth-of-type(4) ul li a h2 {
	text-transform: uppercase;
	font-family: var(--FontHoofd);
	color: var(--KleurZwart);
	font-size: 0.95em;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0;
}

section:nth-of-type(4) ul li a img {
	width: 100%;
	margin: 0;
}

section:nth-of-type(4) ul li a p {
	font-family: var(--FontLicht);
	color: var(--KleurZwart);
	text-align: center;
	font-size: 1em;
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
	margin: 0;
}

section:nth-of-type(4) ul li a h5 {
	color: var(--KleurOranje);
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0.4em;
	font-size: 0.9em;
}




/*********************/
/*     SECTION 5     */
/*********************/
section:nth-of-type(5) h2 {
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 1em;
}

section:nth-of-type(5) ul {
	display: flex;
	overflow-x: scroll;
	padding-left: 0;
}

section:nth-of-type(5) ul li {
	border: 0.2em solid var(--KleurGrijs);
	border-radius: 0.3em;
	list-style: none;

	margin-left: 0.5em;
	margin-right: 0.5em;
}

section:nth-of-type(5) ul li:hover {
	border: 0.4em solid var(--KleurGrijs);
	border-radius: 0.3em;
}

section:nth-of-type(5) ul li a {
	text-decoration: none;
	display: flex;
	flex-direction: column;
}

section:nth-of-type(5) ul li img:nth-of-type(1) {
	margin: 1em;
}

section:nth-of-type(5) ul li img:nth-of-type(2) {
	width: 40%;
	margin-left: 7.5em;
	margin-right: 7.5em;
	margin-top: 0;
}

section:nth-of-type(5) h4 /*TITEL*/{
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	text-align: center;
	font-size: 1.4em;
	color: var(--KleurZwart);
	margin-top: 0;
	margin-bottom: 0.5em;
}

section:nth-of-type(5) p {
	font-family: var(--FontLicht);
	color: var(--KleurZwart);
	text-align: center;
	font-size: 1em;
	margin: 1em;
}

section:nth-of-type(5) ul li a button {
	border: none;
	border-radius: 0.3em;
	font-weight: 800;
	background-color: var(--KleurBlauw);
	text-transform: uppercase;
	text-decoration: none;
	padding-top: 1.6em;
	padding-bottom: 1.6em;
	padding-left: 1.25em;
	padding-right: 1.25em;
	margin-bottom: 2em;
	width: 90%;
	align-self: center;
}






/*********************/
/*     SECTION 6     */
/*********************/
section:nth-of-type(6) a {
	display: flex;
	justify-content: center;
	background-color: var(--KleurZwart);
}

section:nth-of-type(6) img {
	width: 100%;
	position: relative;
	color: var(--KleurZwart);
	opacity: 0.6;
	margin-bottom: 0;
}

section:nth-of-type(6) h3 {
	position: absolute;
	z-index: 1;
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	color: var(--KleurWit);
	text-align: center;
	margin: 2em;
	margin-top: 1em;
	font-size: 1.5em;
}

section:nth-of-type(6) p {
	position: absolute;
	z-index: 2;
	font-family: var(--FontLicht);
	color: var(--KleurWit);
	text-align: center;
	margin: 5em;
	margin-top: 5.5em;
}

section:nth-of-type(6) h5 {
	position: absolute;
	z-index: 3;
	align-self: flex-end;
	background-color: #e8468d;
	padding: 1.5em;
	padding-right: 5em;
	border-radius: 0.3em;
	color: var(--KleurZwart);
	font-family: var(--FontHoofd);
	text-transform: uppercase;
}

/*********************/
/*       FOOTER      */
/*********************/

footer {
	box-shadow: 0 0.1em 0.5em #dcdcdc;
	margin-top: 1em;
	margin-bottom: 0;
}


footer h3 {
	font-family: var(--FontHoofd);
	text-transform: uppercase;
	padding-top: 2em;
	margin-left: 1em;
}

footer a {
	display: block;
	margin-left: 1.3em;
	font-family: var(--FontLicht);
	text-decoration: none;
	color: var(--KleurZwart);
	font-size: 0.9em;
}

footer a:hover {
	text-decoration: underline;
}

footer p {
	display: block;
	margin-left: 1em;
	font-family: var(--FontLicht);
	text-decoration: none;
	color: var(--KleurZwart);
	font-size: 0.9em;
}

footer form {
	display: flex;
	flex-wrap: wrap;
	margin-left: 1em;
	margin-top: 2em;
}

footer label {
	font-family: var(--FontLicht);
	font-size: 0.9em;
	padding-right: 70%;
	padding-bottom: 0.3em;
}

footer input {
	padding: 1em;
	border: 0.05em solid var(--KleurGrijs);
}

footer button {
	border: none;
	padding: 1em;
	padding-left: 1.25em;
	padding-right: 1.25em;
	font-weight: 800;
	background-color: #c897d3;
}

footer section:first-of-type {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1.5em;
	width: 90%;
}

footer section:first-of-type a {
	width: 10%;
}

footer section:nth-of-type(2) {
	display: flex;
	padding-bottom: 2em;
}

footer section:nth-of-type(2) a {
	font-size: 0.7em;
}